@import 'highlight.css';

.mycontainer
{
	margin: 0 auto;
	max-width: 940px;
}

.mycontainer > hr
{
	margin: 30px 0;
}

.mycontainer table
{
	margin: 15px 0;
}

.mycontainer
{
	padding: 0 10px;
}

.mycontainer table th,
.mycontainer table td
{
	text-align: left;
	padding: 0 5px;
	border: 1px solid #ccc;
}

.navbar-inner
{
	padding: 0;
}

.navbar .nav
{
	float: right;
	padding: 10px 20px 10px;
	font-size: 20px;
}

pre code
{
	font-size: 95%;
}

blockquote p
{
	font-size: 15px;
}

h1,h2,h3,h4,h5,h6 { margin: 25px 0 15px 0; }

dt
{
	margin-bottom: 0.5em;
}

dd
{
	margin-bottom: 1em;
	padding-left: 1em;
	border-left: 3px solid #F7F7F9;
}

.path, .incl, .tag, .attr, .prop, .value, .cls, .evt
{
	border: none;
}

.path, .incl, .value, .cls
{
	color: black;
}

.tag, .attr, .prop
{
	color: blue;
}

.evt
{
	color: green;
}
