<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}
    {% if site.title != page.title %} - {{ site.title }} {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- fav and touch icons -->
	<link rel="apple-touch-icon" sizes="180x180" href="{{ BASE_PATH }}/assets/icons/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ BASE_PATH }}/assets/icons/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ BASE_PATH }}/assets/icons/favicon-16x16.png">
	<link rel="manifest" href="{{ BASE_PATH }}/assets/icons/site.webmanifest">
	<link rel="mask-icon" href="{{ BASE_PATH }}/assets/icons/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{{ BASE_PATH }}/assets/icons/favicon.ico">
	
    <!-- atom & rss feed -->

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="mycontainer">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          {% if page.parent != nil %}
            {% capture parent_url %}/pages/{{ page.parent }}{% endcapture %}
            {% for parent_page in site.pages %}
              {% if parent_page.url == parent_url %}
                {% capture parent_link %}<a class="nav" href="{{BASE_PATH}}{{ parent_url }}.html">{{ parent_page.title }}</a>{% endcapture %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if parent_link %}{{parent_link}}{% endif %}
        </div>
      </div>
    </div>

    <div class="mycontainer">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p><small>
          Copyright (c) 2008-2014 CodePoint Ltd, Shift Technology Ltd, and contributors<br />
          <a href="https://github.com/mikke89/RmlUi">RmlUi on GitHub</a>
        </small></p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
