<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}
    {% if site.title != page.title %} - {{ site.title }} {% endif %}
    </title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

    <!-- Enable responsive viewport -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.2.2.2.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/style.css" rel="stylesheet" type="text/css" media="all">

    <!-- fav and touch icons -->

    <!-- atom & rss feed -->
    <link href="{{ BASE_PATH }}{{ site.JB.atom_path }}" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="{{ BASE_PATH }}{{ site.JB.rss_path }}" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">

  </head>

  <body>
    <div class="navbar">
      <div class="navbar-inner">
        <div class="mycontainer">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          {% if page.parent != nil %}
            {% capture parent_url %}/pages/{{ page.parent }}{% endcapture %}
            {% for parent_page in site.pages %}
              {% if parent_page.url == parent_url %}
                {% capture parent_link %}<a class="nav" href="{{ parent_url }}.html">{{ parent_page.title }}</a>{% endcapture %}
              {% endif %}
            {% endfor %}
          {% endif %}
          {% if parent_link %}{{parent_link}}{% endif %}
        </div>
      </div>
    </div>

    <div class="mycontainer">

      <div class="content">
        {{ content }}
      </div>
      <hr>
      <footer>
        <p><small>
          Copyright (c) 2008-2014 CodePoint Ltd, Shift Technology Ltd, and contributors<br />
          <a href="https://github.com/libRocket/libRocket">libRocket on GitHub</a>
        </small></p>
      </footer>

    </div>

    {% include JB/analytics %}
  </body>
</html>
